*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('../img/3.png');
    font-family: Arial, Helvetica, sans-serifs;
    background-size: 100% 18%;
    font-size: 23px;
}

main{
    width: 1000px;
    margin: auto;
    margin-top:15px;
    padding: 20px;
    background-color: white;
    line-height: 30px;
}

.contenedor-Banner{
    margin-top: 15px;
}


.contenidoTexto{
    padding: 10px 30px;
    width: 100%;
    text-align: justify;

}

.contenidoTexto__Subtitulo{
    text-transform: uppercase;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    color: #210D41;
    padding: 40px 0px 40px;
    display: flex;
    justify-content: center;  
}

.contenidoTexto_Parrafo {
    margin: 10px;
    margin-top:10px;
    padding: 15px 20px;
}

.contenidoTexto img {
    width: 600px;
    height: 450px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 20px 0px 10px;
}

.resena-Clientes{
    padding: 10px 30px;
    width: 100%;
}
.resena-Clientes__cuadro-Texto{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

#cuadro-opinion{
    margin: 15px;
    width: 800px;
    background-color: #FFF3DA;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    border-radius: 40px;
}
#boton-enviar{
    background-color: #D0A2F7;
    color: #210D41;
    border-radius: 50px;
    width: 100px ;
    height: 40px;
    font-style: oblique;
}
#boton-enviar:hover{
    border-bottom: 5px solid #000000;
}



.opinion-Clientes{
    margin:auto;
    padding: 30px 0;
}

.opinion-Clientes__slider{
    width: 90%;
    max-width: 1400px;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #210D41;
    font-size: 24px;
}

.opinion-Clientes__testimonio{
    margin-bottom: 15px;
    margin-top: 18px;
}

.opinion-Clientes__testimonio img{
    width: 125px;
    height: 130px;
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 100px;

}

.opinion-Clientes__nombre{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600px;
    text-align: center;
    color: #210D41;
}

.opinion-Clientes__texto{
    padding: 10px 100px;
    margin-bottom: 20px;
}

.opinion-Clientes__texto p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    font-style: italic;   
}


@media screen and (max-width:600px){
    body{
        width: 100%;
    }
    main{
        
    }
    p {
        font-size: 40px;
        line-height: 40px;
    }
    ul{
        font-size: 35px;
        line-height: 40px;
        padding: 40px; 
    }
    #cuadro-opinion{
        font-size: 30px;
        padding: 30px 35px;
    }
    .opinion-Clientes__texto p{

    }
    .contenidoTexto__Subtitulo{
        font-size: 60px;
        line-height: 65px;
        text-align: center;
    }
    .contenidoTexto img {
        width: 99%;
        height: auto;
        display: flex;
        justify-content: center;
        padding: 40px 20px 10px;
    }

}





