*{
    margin: 0;
    padding: 0;
}

body{
    background-image: ('img/3.png');
    font-family: Arial, Helvetica, sans-serifs;
    background-size: 100% 15%;
    font-size: 23px;
}

main{
    width: 1000px;
    margin: auto;
    margin-top:15px;
    padding: 20px;
    background-color: white;
    line-height: 30px;
}

.contenedor-Banner{
    margin-top: 15px;
}

.contenedor-menu{
    margin: 20px;
    padding: 20px 50px 20px;
    background-color: #D2E0FB;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}

.contenedor-menu a{
    color: #210D41;
    text-decoration: none;
    font-size: 25px;
}

.contenedor-menu a:hover{
    border-bottom: 5px solid #BEADFA;
    padding: 3px;
}

.contenedor__Parrafo{
    padding: 0px 20px;
    text-align:justify;
}

.contenedor-Historia img {
    width: 400px;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 15px 0px;
}


.contenedor__subtitulo{
    text-transform: uppercase;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    color: #210D41;
    padding: 45px 0px 45px;
    display: flex;
    justify-content: center;
}


.contenedor-fundadores__item{
    width: 100%;
    margin-top: 50px;
    display: flex;
    padding: 0px 20px ;

}
.contenedor-fundadores__personal{
    display: flex;
    float: left;
    width: 30%;
}
.contenedor-fundadores__personal img{
    width: 200px ;
}

.contenedor-fundadores__descripcion{
    float: right;
    width: 70%;
}

.contenedor-fundadores__Foto img{
    width: 100%;
    height: 700px;
    padding: 40px 20px 0px;
}

.contenedor-Mision-Vision__texto{
    padding: 0px 20px;
    text-align:justify;
    margin-top:15px;
    margin-bottom:70px ;
}
