*{
    margin: 0;
    padding: 0;
}


footer{
    background-color: aquamarine;
}


.footer{
    width: 100%;
    padding: 20px 60px 5px;
    margin-top: 20px;
}


.footer__Texto{
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color:#210D41;
   
}

.footer__pago{
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
}




.redes{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 10px 0px 10px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;

}

.redes__box1{
    width: 50%;
    height: 100%;
    display: flex;
}

.redes__Sociales{
    width: 30% ;
    display: flex;
}




.informaci贸n-contacto__texto{
    background-color: aquamarine;
    padding:10px 50px 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    color:#210D41;
}

.informaci贸n-contacto h6{
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
}
.informaci贸n-contacto p{
    padding: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color:#210D41;
}
.informaci贸n-contacto a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-decoration: none;
    color:#210D41;
}



