*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family:Arial, Helvetica, sans-serif
}

.contenedor1 {
    padding:9px;
    font-family:'Times New Roman', Times, serif;
    font-size: 14px ;
    background-color: #F1EAFF;
    color:#210D41;
    font-weight: bold;
}


.contenedor2{
    position: absolute;
    font-family:'Times New Roman', Times, serif; 
    font-size: 20x;
    text-transform: uppercase;
    float: left;
    width: 20%;
    height: 70px;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color:#7ED7C1;
    font-weight: bold;
    color: #210D41;
}

.nav-menu{
    left: 0;
    right: 0;
    font-family:'Times New Roman', Times, serif;
    padding: 0 5%;
    height: 70px;
    background-color:#7ED7C1 ;
}

.nav-menu__list {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.nav-menu__item{
    list-style: none;
}
.nav-menu__item a {
    text-transform: uppercase;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color:#210D41;
    text-decoration: none;
}
.nav-menu__item a:hover{
    border-bottom: 3px solid #BEADFA;
    padding: 10px;
}

.contenedor-banner{
    position: absolute;
}

.contenedor2{@media screen and(max-width:600px) {
    width: 100px;
    padding: 10px;
}}











